@model HomeBudget.ViewModels.Shared.DateRangeViewModel

<div class="form-row align-items-center">
    <div class="form-group col-auto">
        <div class="input-group">
            <label class="col-form-label">Od:&nbsp;</label>
            <input asp-for="Start" class="form-control" type="date">
        </div>
    </div>
    <div class="form-group col-auto">
        <div class="input-group">
            <label class="col-form-label">Do:&nbsp;</label>
            <input asp-for="End" class="form-control" type="date">
        </div>
    </div>
    <div class="form-group col-auto">
        <div class="input-group">
            <label class="col-form-label">Ostatni:</label>
        </div>
    </div>
    <div class="form-group col-auto">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="lastRadio" id="lastWeekCheck">
            <label class="form-check-label" for="lastWeekCheck">
                tydzień
            </label>
        </div>
    </div>
    <div class="form-group col-auto">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="lastRadio" id="lastMonthCheck">
            <label class="form-check-label" for="lastMonthCheck">
                miesiąc
            </label>
        </div>
    </div>
    <div class="form-group col-auto">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="lastRadio" id="lastYearCheck">
            <label class="form-check-label" for="lastYearCheck">
                rok
            </label>
        </div>
    </div>
</div>

<input type="date" asp-for="LastWeekStart" hidden />
<input type="date" asp-for="LastMonthStart" hidden />
<input type="date" asp-for="LastYearStart" hidden />
<input type="date" asp-for="CurrentDate" hidden />